---
- name: Include tautulli install
  include_tasks: install-tautulli.yml

- name: Include for legacy support
  include_tasks: legacy-init.yml
  when: (ansible_distribution == 'CentOS' and ansible_distribution_major_version == '6') or
      (ansible_distribution == 'Ubuntu' and ansible_distribution_version|int <= 15.10) or
      ansible_distribution == 'Fedora'
